body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
span {
    text-align: center;
    font-family: sans-serif;
    font-size: xxx-large;
    animation: colorChange 10s infinite;
}

@keyframes colorChange {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: red; }
}